```bash
revenexx customers auth-verification \
    --url https://example.com \
    --user-id ''
```
